<div class="flex justify-content-center align-items-center min-h-screen">
  <p-card [style]="{ width: '360px' }">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
      <div class="flex flex-column gap-2 mt-2">
        <label for="email">Email</label>
        <input
          type="text"
          formControlName="email"
          aria-describedby="email-help"
          pInputText
        />
        <small
          class="text-red-500 mt-2"
          id="email-help"
          *ngIf="
            loginForm.get('email')?.invalid && loginForm.get('email')?.touched
          "
        >
          Incorrect email address.
        </small>
      </div>
      <div class="flex flex-column gap-2 mt-2">
        <label for="password">Password</label>
        <input
          type="text"
          formControlName="password"
          aria-describedby="passowrd-help"
          pInputText
        />
        <small
          class="text-red-500 mt-2"
          id="passowrd-help"
          *ngIf="
            loginForm.get('password')?.invalid &&
            loginForm.get('password')?.touched
          "
        >
          Password must be at least 6 characters long, contain at least one
          uppercase letter, and one special character.
        </small>
      </div>

      <div class="flex justify-content-center gap-3">
        <p-button
          class="mt-5"
          type="submit"
          label="Login"
          [disabled]="loginForm.invalid"
        ></p-button>
        <span class="text-sm text-gray-600 mt-5">
          You don't have an account?
          <a routerLink="/register" class="text-blue-500 hover:text-blue-700"
            >Register</a
          >
        </span>
      </div>
    </form>
  </p-card>
</div>
