<p-button (onClick)="openFormModal()" label="Add review"></p-button>

<div *ngFor="let item of review" class="card flex justify-content-center">
  <div style="width: 700px; margin-top: 10px">
    <p-card>
      <p class="m-0">
        {{ item.title }}
      </p>
      <p class="m-0">{{ item.text }}</p>
      <p class="m-0">{{ item.rating }}</p>
      <p-button (onClick)="deleteReview(item.id)">Delete Review</p-button>
    </p-card>
  </div>
</div>
<h1 *ngIf="review?.length === 0">No Reviews</h1>
<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
