<form [formGroup]="movieForm" (ngSubmit)="submit(movieForm.value)">
  <div class="field">
    <label for="title">Title</label>
    <input
      id="title"
      formControlName="title"
      pInputText
      class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
    />
  </div>
  <div class="field">
    <label for="category">Category</label>
    <p-dropdown
      formControlName="category"
      [options]="categories"
      optionLabel="name"
      optionValue="value"
      placeholder="Select a Category"
      class="p-2"
    ></p-dropdown>
  </div>
  <div class="field">
    <label for="releasetime" class="p-2">Release Time</label>
    <p-calendar id="releasetime" formControlName="releasetime" />
  </div>
  <p-button
    [style]="{ 'margin-top.px': 20 }"
    type="submit"
    [disabled]="movieForm.invalid"
    label="Submit"
  ></p-button>
</form>
