<div class="flex justify-content-center align-items-center min-h-screen">
  <p-card [style]="{ width: '360px' }">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">
      <div class="field">
        <label for="email">Email</label>
        <input
          type="text"
          formControlName="email"
          aria-describedby="email-help"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
        />
        <small
          class="text-red-500 mt-5"
          id="email-help"
          *ngIf="
            registerForm.get('email')?.invalid &&
            registerForm.get('email')?.touched
          "
        >
          Please enter a valid email.
        </small>
      </div>
      <div class="field">
        <label for="password">Password</label>
        <input
          type="password"
          formControlName="password"
          aria-describedby="passowrd-help"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
        />
        <small
          class="text-red-500 mt-5"
          id="passowrd-help"
          *ngIf="
            registerForm.get('password')?.invalid &&
            registerForm.get('password')?.touched
          "
        >
          Password must be at least 6 characters long, contain at least one
          uppercase letter, and one special character.
        </small>
      </div>

      <p-button
        type="submit"
        label="Sign Up"
        [disabled]="registerForm.invalid"
      ></p-button>
    </form>
  </p-card>
</div>
