gggggggg

<div class="flex justify-content-center align-items-center min-h-screen">
  <p-card [style]="{ width: '360px' }">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">
      <div class="flex flex-column gap-2 mt-2">
        <label for="email">Email</label>
        <input
          type="text"
          formControlName="email"
          aria-describedby="email-help"
          pInputText
        />
        <small
          class="text-red-500 mt-2"
          id="email-help"
          *ngIf="
            registerForm.get('email')?.invalid &&
            registerForm.get('email')?.touched
          "
        >
          Please enter a valid email.
        </small>
      </div>
      <div class="flex flex-column gap-2 mt-2">
        <label for="password">Password</label>
        <input
          type="password"
          formControlName="password"
          aria-describedby="passowrd-help"
          pInputText
        />
        <small
          class="text-red-500 mt-2"
          id="passowrd-help"
          *ngIf="
            registerForm.get('password')?.invalid &&
            registerForm.get('password')?.touched
          "
        >
          Password must be at least 6 characters long, contain at least one
          uppercase letter, and one special character.
        </small>
      </div>

      <div class="flex justify-content-center">
        <p-button
          class="mt-5"
          type="submit"
          label="Sign Up"
          [disabled]="registerForm.invalid"
        ></p-button>
      </div>
    </form>
  </p-card>
</div>
