<form [formGroup]="reviewForm" (ngSubmit)="submit(reviewForm.value)">
  <div class="field">
    <label for="title">Title</label>
    <input
      type="text"
      formControlName="title"
      pInputText
      class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
    />
  </div>
  <div class="Text">
    <label for="text">Text</label>
    <input
      type="text"
      formControlName="text"
      pInputText
      class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
    />
  </div>
  <div class="Rating">
    <label for="rating">Rating</label>
    <input
      type="number"
      formControlName="rating"
      pInputText
      pKeyFilter="int"
      class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
    />
  </div>

  <div class="User">
    <label for="userSelect">Select User</label>
    <select
      formControlName="appUserId"
      class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
      (change)="onReviewIdChange($event)"
    >
      <option *ngFor="let user of users" [value]="user.id">
        {{ user.userName }}
      </option>
    </select>
  </div>

  <div class="User">
    <label for="name">Name</label>
    <input
      type="text"
      formControlName="userName"
      pInputText
      class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
    />
  </div>

  <div class="User">
    <label for="email">Email</label>
    <input
      type="email"
      formControlName="email"
      pInputText
      class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
    />
  </div>

  <p-button
    type="submit"
    [disabled]="reviewForm.invalid"
    label="Submit"
  ></p-button>
</form>
