<div class="flex flex-row flex-wrap gap-3 ml-5 m-3">
  <span class="p-input-icon-right">
    <i class="pi pi-times-circle" (click)="clearFilter()"></i>
    <input
      type="text"
      id="searchInput"
      pInputText
      [(ngModel)]="value"
      placeholder="Write a title"
    />
  </span>
  <p-button
    label="Search"
    severity="secondary"
    (click)="getMovies(value)"
  ></p-button>
  <p-calendar
    [(ngModel)]="startDatepicker"
    dateFormat="dd.mm.yy"
    placeholder="Start Date"
  />
  <p-calendar
    [(ngModel)]="endDatepicker"
    dateFormat="dd.mm.yy"
    placeholder="End Date"
  />
  <p-button
    label="Search by Date"
    severity="secondary"
    (click)="getMoviesDate()"
    tooltipPosition="bottom"
    pTooltip="Please select both start and end dates"
  ></p-button>
  <p-button
    label="Clear Dates"
    severity="secondary"
    (click)="clearDates()"
  ></p-button>
  <p-button
    pRipple
    class="p-button-success"
    (onClick)="openFormModal()"
    label="Add Movie"
  ></p-button>
  <p-selectButton
    [options]="enumCategory"
    [multiple]="true"
    optionLabel="name"
    optionValue="value"
    (onChange)="onSelectChange($event)"
  />
</div>

<div class="grid">
  <div class="col-6">
    <div *ngFor="let item of movies" class="m-5">
      <p-card>
        <p class="m-2">
          <b>
            {{ item.title }}
          </b>
        </p>
        <p class="m-2">{{ getCategoryName(item.category) }}</p>
        <p>{{ item.releasetime | date : "yyyy-MM-dd" }}</p>
        <div class="flex gap-3 justify-content-center">
          <p-button
            label="Delete Movie"
            severity="danger"
            (onClick)="deleteMovie(item.id)"
          ></p-button>
          <p-button
            *ngIf="numberOfReviewsMap[item.id] > 0"
            label="Open Reviews"
            severity="info"
            (click)="openReviews(item.id)"
          ></p-button>
        </div>
      </p-card>
    </div>
  </div>
  <div class="col-6">
    <app-admin-movie-reviews
      [movieId]="selectedMovieId"
    ></app-admin-movie-reviews>
  </div>
</div>
<p-toast position="bottom-center"></p-toast>
<p-confirmDialog></p-confirmDialog>
