<div class="flex flex-row flex-wrap gap-3 m-3">
  <span class="p-input-icon-right">
    <i class="pi pi-times-circle" (click)="clearFilter()"></i>
    <input type="text" pInputText [(ngModel)]="value" />
  </span>
  <p-button
    label="Search"
    severity="secondary"
    (click)="getReviews(value)"
  ></p-button>

  <p-button
    pRipple
    class="p-button-success"
    (onClick)="openFormModal()"
    label="Add review"
  ></p-button>

  <p-dropdown
    [options]="sortOptions"
    [(ngModel)]="selectedSortOption"
    optionLabel="label"
    placeholder="Select Sorting Option"
    (onChange)="sortReviews()"
  ></p-dropdown>
  <div
    [ngClass]="{
      'bg-primary': numberOfReviews <= 5,
      'bg-green-700': numberOfReviews > 5,
      'bg-red-500': numberOfReviews > 10
    }"
    class="border-round w-4rem h-2rem m-2 font-bold flex align-items-center justify-content-center text-white"
  >
    {{ numberOfReviews }}
  </div>
</div>

<div class="grid">
  <div *ngFor="let item of review" class="col-3">
    <p-card>
      <p class="m-2">
        <b>
          {{ item.title }}
        </b>
      </p>
      <p class="m-2" style="overflow-wrap: break-word; text-align: justify">
        {{ item.text }}
      </p>
      <p class="m-2">Rating {{ item.rating }}/10</p>
      <p-rating
        [stars]="10"
        [(ngModel)]="item.rating"
        [readonly]="true"
        [cancel]="false"
      ></p-rating>

      <!-- <p class="m-2">Cost Of Review {{ item.costOfReview }}</p> -->
      <div class="flex gap-3 justify-content-center">
        <p>Cost Of Review:</p>
        <p-inputNumber
          [(ngModel)]="item.costOfReview"
          mode="currency"
          currency="PLN"
          locale="pl-PL"
          [disabled]="true"
        />
      </div>
      <div class="mt-2">
        <p-button
          label="Delete review"
          severity="danger"
          (onClick)="deleteReview(item.id)"
        ></p-button>
      </div>
    </p-card>
  </div>
</div>

<h1 *ngIf="review?.length === 0">No Reviews</h1>
<p-toast position="bottom-center"></p-toast>
<p-confirmDialog> </p-confirmDialog>
